@mixin clear{
  content: "";
  clear: both;
  display: table;
}

$border:1px solid green;
$hover__background__color: #3e8e41 ;
$button__padding: 5px 5px;
$button__color : white;

.btn__group button{
  background-color: #29A8FF;
  border: $border ;
  color: $button__color;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
/* prevent double border */
.btn__group button:not(:last-child){
  border-right: none;
}

.btn__group button:after{
  @include clear;
}

.btn__group button:hover{
  background-color:$hover__background__color;
}

/* Group Button Style End Here */




/* Round Button Style Start Here */
.btn__round{
  padding: $button__padding;
  border-radius: 50%;
  border: $border;
  color: $button__color;
  background-color: #29A8FF;

}

.btn__round:hover{
  background-color:$hover__background__color;
}



/* Box Button Style Start Here */
.btn__box{
  padding: $button__padding;
  border-radius: 10%;
  border: $border;
  background-color: #29A8FF;

}

.btn__box:hover{
  background-color:$hover__background__color;
}


/* Button Primary*/
.btn__primary{
  padding: $button__padding;
  border-radius: 10%;
  border: $border;
  color: $button__color;
  background-color: blue;

}

/* Button Danger*/
.btn__danger{
  padding: $button__padding;
  border-radius: 10%;
  border: $border;
  color: $button__color;
  background-color: red;

}
